.hero{
    height: 50vh;
    align-items: center;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1500160503851-c04cefe545a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
}

.map{
    height: 26vh;
    background: url(stylus.png);
    background-size: cover;
}

.glass-card{
    background-color: rgba(0, 0, 0, 0.422);
}

.margin{
    margin-top: 5em;
    margin-bottom: 5em;
}